* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

/* For preLoadPage.js */

#page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    background-color: black;
    position: relative;
}

#header {
    display: grid;
    position: sticky;
    top: -2.8rem;
    z-index: 1000;
}

#socialHeader {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: red;
    height: 3rem;
    color: white;
    font-weight: bold;
}

#enableGeodude {
    display: grid;
    align-items: center;
    justify-items: start;
    padding: 0 1rem;
    font-size: 0.9rem;
}

#mainHeader {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 3rem;
    width: 100%;
}

#siteTitle {
    font-size: 3rem;
    padding: 1rem;
    padding-right: 3rem;
    color: red;
}

.tab {
    display: grid;
    position: relative;
    justify-items: center;
    align-items: center;
    transition: 0.2s;
}

.tab:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.2s;
}

.tab:after {
    content: '';
    position: absolute;
    width: 25%;
    transform: scaleX(0);
    height: 2px;
    bottom: 25%;
    background-color: red;
    transition: transform 0.4s;
}

.tab:hover:after {
    transform: scaleX(1);
    transition: transform 0.4s;
}

#body {
    display: grid;
    background: white;
}

#footer {
    display: grid;
    justify-items: center;
    align-items: center;
    background: red;
    border-top: solid white 4px;
    border-bottom: solid white 4px;
    color: white;
    font-weight: bold;
}

#returnToTop {
    padding: 0.5rem;
}

#returnToTop:hover {
    cursor: pointer;
}

/* For loadHomePage.js */

#homeHero {
    background-image: url('./images/sushi.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    position: relative;
}

#homeHeroBox {
    display: grid;
    position: absolute;
    top: 50%;
    left: 5rem;
    border: solid white 2px;
    padding: 1.5rem;
    width: 33rem;
}

#homeHeroText {
    display: grid;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0.75rem;
    font-size: 1.1rem;
}

#homeHeroHeading {
    font-size: 200%;
    font-weight: bold;
}

#homeHeroSubheading {
    font-weight: bold;
}

#homeHeroFinePrint {
    font-size: 80%;
}

#homeHeroBtns {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    justify-items: start;
}

#homeHeroBtns>div {
    background-color: red;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem 0.75rem;
    border-radius: 8px;
    transition: 0.2s;
}

#homeHeroBtns>div:hover {
    background-color: white;
    color: black;
    transition: 0.2s;
}

#homeHeroBtnTwo {
    display: none;
}

#mainContent {
    background-color: white;
}

#reservationForm {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    height: 5rem;
}

select {
    text-align: center;
    appearance: none;
    background-color: white;
    border: solid gray 1px;
    border-collapse: collapse;
    z-index: 10;
    padding: 0 2rem;
}

select:focus-visible {
    outline: none;
    outline: solid gray 1px;
}

#reserveBtn {
    appearance: none;
    border: none;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 0 3rem;
}

#reserveBtn:hover {
    cursor: pointer;
}

#content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 50vh);
    padding: 10px;
    gap: 10px;
}

#content1>.left1,
#content1>.right2 {
    padding: 0 2rem;
    display: grid;
    gap: 1rem;
    grid-auto-rows: auto;
    align-content: center;
    justify-items: start;
}

#content1 .heading {
    font-size: 2rem;
    font-weight: bold;
}

#content1 .heading>span {
    color: red;
}

.btn {
    background-color: red;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem 0.75rem;
    border-radius: 8px;
    transition: 0.2s;
}

.btn:hover {
    cursor: pointer;
    background-color: darkred;
    transition: 0.2s;
}

#content1>.right1 {
    background-image: url('./images/meat.jpg');
    background-size: cover;
    background-position: center;
}

#content1>.left2 {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(2, 30%);
    align-content: center;
    justify-content: center;
    row-gap: 5%;
    column-gap: 8px;
    background-color: red;
}

#content1>.left2>.image {
    background-image: url('./images/meat.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
}

#content1>.left2>.image:nth-child(1) {
    background-image: url('./images/ramen.jpg');
}

#content1>.left2>.image:nth-child(2) {
    background-image: url('./images/soba.jpg');
}

#content1>.left2>.image:nth-child(3) {
    background-image: url('./images/udon.jpg');
}

#content1>.left2>.image:nth-child(4) {
    background-image: url('./images/mini-ramen.jpg');
}

#content1>.left2>.image:nth-child(5) {
    background-image: url('./images/tiny-ramen.jpg');
}

#content1>.left2>.image:nth-child(6) {
    background-image: url('./images/noodles.jpg');
}

/* For loadMenuPage.js */

#menuHero {
    background-image: url('./images/meat.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
}

#menuContent {
    background-color: white;
}

#titleBox {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    padding: 2rem;
}

#pageTitle {
    font-size: 4rem;
    font-weight: bold;
}

#pageTitle>span {
    color: red;
}

.menuSection {
    display: grid;
    gap: 2rem;
    padding: 2rem;
}

#drinks>.title {
    color: red;
    font-size: 3rem;
    font-weight: bold;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.items>.item {
    display: grid;
    gap: 1rem;
}

.items>.item>.name {
    font-size: 1.5rem;
    font-weight: bold;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-content: center;
    height: 50vh;
}

#drinksParallax {
    background-image: url('./images/milkshakes.jpg');
}

.parallax>.box {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    background-color: red;
    color: white;
    width: 40rem;
}

#drinksParallax>.box {
    justify-self: end;
}

.parallax>.box>.title {
    font-size: 2rem;
    font-weight: bold;
}

.parallax>.box>.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

#apps>.title {
    color: red;
    font-size: 3rem;
    font-weight: bold;
}

#appsParallax {
    background-image: url('./images/tofu.jpg');
}

#appsParallax>.box {
    justify-self: end;
}

#sushi>.title {
    color: red;
    font-size: 3rem;
    font-weight: bold;
}

#sushiParallax {
    background-image: url('./images/sushi.jpg');
}

#sushiParallax>.box {
    justify-self: start;
}

#noodlesAndSoups>.title {
    color: red;
    font-size: 3rem;
    font-weight: bold;
}

#noodlesAndSoupsParallax {
    background-image: url('./images/tiny-ramen.jpg');
}

#noodlesAndSoupsParallax>.box {
    justify-self: start;
}

#entrees>.title {
    color: red;
    font-size: 3rem;
    font-weight: bold;
}

#entreesParallax {
    background-image: url('./images/poke-bowl.jpg');
}

#entreesParallax>.box {
    justify-self: end;
}

#desserts>.title {
    color: red;
    font-size: 3rem;
    font-weight: bold;
}

#dessertsParallax {
    background-image: url('./images/taiyaki.jpg');
}

#dessertsParallax>.box {
    justify-self: end;
}

#bottomMessageSlogan {
    text-align: center;
    font-size: 4rem;
    color: red;
}

#bottomMessage {
    display: grid;
    gap: 2rem;
    padding: 2rem;
}

/* For loadContactPage.js */

#contactHero {
    background-image: url('./images/poke-bowl.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;
    border-bottom: solid red 2px;
}

#contactPageTitle {
    font-size: 5rem;
    color: white;
    font-weight: bold;
    text-shadow: black 0 0 0.5rem;
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
}

#contactPageTitle:after {
    content: '';
    position: absolute;
    width: 10rem;
    height: 3px;
    bottom: 0;
    background-color: red;
}

#contactContent {
    background-color: white;
    display: grid;
    justify-items: center;
    padding: 2rem 2rem 6rem;
    gap: 2rem;
}

#contactFeedback {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

#contactFeedback>.title {
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.title>span {
    color: red;
}

#contactFeedback>.title>span {
    padding-right: 0.5rem;
}

#contactFeedback>.title:after {
    content: '';
    position: absolute;
    width: 90%;
    height: 3px;
    bottom: -0.5rem;
    background-color: red;
    display: block;
}

#contactFeedback>.text {
    font-weight: bold;
    color: rgb(66, 66, 66);
}

#contactInquiries {
    color: rgb(66, 66, 66);
}

#contactInquiries>span {
    background-color: red;
    color: white;
    padding: 0.25rem;
}

#contactSocialMedia {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

#contactSocialMedia>.title {
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

#contactSocialMedia>.title:after {
    content: '';
    position: absolute;
    width: 90%;
    height: 3px;
    bottom: -0.5rem;
    background-color: red;
    display: block;
}